@font-face {
    font-family: Gotham SSm A;
    src: url("./fonts/Gotham/Gotham-Book.otf") format("opentype");
}
@font-face {
    font-family: Gotham SSm C;
    src: url("./fonts/Gotham/GothamBold.otf") format("opentype");
}

@font-face {
    font-family: Sentinel SSm A;
    src: url("./fonts/Sentinel/Sentinel-Black.otf") format("opentype");
}
@font-face {
    font-family: Sentinel SSm B;
    src: url("./fonts/Sentinel/Sentinel-Book.otf") format("opentype");
}

body {
    background-color:#adcea2;
    font-family: "Gotham SSm A";
    color:#4A4A4A;
}


#logo {
    height:21px;
    width:80px;
}
.navbar-default {
    margin-bottom: 0;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default .navbar-nav>li>a {
    font-family: "Gotham SSm A";
    font-size: 13px;
    color:#333;
    font-weight:400;
    letter-spacing: .5px;
    border-bottom: 1px solid transparent;
    transition: color 225ms ease-in-out 0ms;
}
.navbar-default .input-group .input-group-addon {
    border-radius: 0;
    cursor: pointer;
    border: 1px solid #ccc;
    height: 34px;
}
#events-title{
    color:black;
     font-family:"Sentinel SSm B",Helvetica,Arial,sans-serif;
     font-weight: 200; 
     font-size: 30px;   
}
#event-title-container{
    background-color:white; 
    height:50px;
    display: flex;
    align-items:center;
    padding: 0 0 30px 70px;
}
#event-content-container {
    padding-top: 40px;
}

h4 {
    font-family: "Gotham SSm A";
    border: 1px solid white;
     border: 1px solid gray;
       padding: 10px;
     font-size: 20px;
     color:red;
    display: inline;
    background-color: white;    
}
.month-container h4>a{
 color:gray;
}
h5 {
    font-size: 20px;
    font-family: "Gotham SSm A";
    font-weight: bolder;
}
.month-container{
text-align: center;
background-color: white;

     border-bottom: 1px solid grey; 
}
.tile-container{
    display:flex;
    align-items: center;
    padding:10px;
    margin:10px 0;
    border-radius: 10px;
    background-color: white;
    margin: 0 6% 2% 6%;
} 
 
/* .tile-container:hover .number{
    color: white;
    border:1px solid white;
    background-color:#737ff9;
} */
/* .tile-container:hover .btn{
    color: white;
    border:1px solid white;
    background-color:#737ff9;
} */
.number-parent{
    display: flex;
    flex-direction: column;
}
.number {
     margin:20px; 
    padding:20px;
    border:1px solid grey;
    text-align: center;
        color: white;
    border:1px solid white;
    background-color:#737ff9;
}
.day {
    font-size: 30px;
    font-family: "Gotham SSm C";
}
.description {
    padding:20px;
}
.event-title{
    display: flex;
    justify-content: space-between;
}
.button-container{
    display: flex;
    align-items: center;
    margin:20px;
}
.btn{
    padding:10px 50px;
   
     color: white;
    border:1px solid white;
    background-color:#737ff9;
}
.rsvp{
    text-align: center;
}
.special{
    display: inline-block;
}
.circular-img:hover {  
    background-color:#000;
    opacity:0.5;
}
.circular-img{
    padding-bottom: 3px;
    border-radius: 5%;
    width:45%;
}
.founder-icons {
     text-align: center; 
     padding: 0;
} 
.moderator {
    text-align: center;
}
.moderator-img {
    margin-bottom:20px;
    border-radius: 5%;
    width: 55%;
}

.ex1 .btn {
    float:right;

}
.ex1 p {
    display:inline-block;

}

@media (min-width: 992px){
.col-md-3 {
    width: 17%;
}
.col-md-1{
    width:12%;
    padding: 0px;
}

.col-md-8 {
    width: 73.666667%;
}
.col-md-7 {
    width: 57%;
}
}