@font-face {
    font-family: Gotham SSm A;
    src: url("./fonts/Gotham/Gotham-Book.otf") format("opentype");
}
@font-face {
    font-family: Gotham SSm C;
    src: url("./fonts/Gotham/GothamBold.otf") format("opentype");
}

@font-face {
    font-family: Sentinel SSm A;
    src: url("./fonts/Sentinel/Sentinel-Black.otf") format("opentype");
}
@font-face {
    font-family: Sentinel SSm B;
    src: url("./fonts/Sentinel/Sentinel-Book.otf") format("opentype");
}

body {
    background-color:#f0f0f0;
    font-family: "Gotham SSm A";
    color:#4A4A4A;
}


#logo {
    height:21px;
    width:80px;
}
.navbar-default {
    margin-bottom: 0;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default .navbar-nav>li>a {
    font-family: "Gotham SSm A";
    font-size: 13px;
    color:#333;
    font-weight:400;
    letter-spacing: .5px;
    border-bottom: 1px solid transparent;
    transition: color 225ms ease-in-out 0ms;
}
.navbar-default .input-group .input-group-addon {
    border-radius: 0;
    cursor: pointer;
    border: 1px solid #ccc;
    height: 34px;
}
#events-title{
    color:black;
     font-family:"Sentinel SSm B",Helvetica,Arial,sans-serif;
     font-weight: 200; 
     font-size: 30px;   
}
#event-title-container{
    background-color:white; 
    height:50px;
    display: flex;
    align-items:center;
    padding: 0 0 30px 70px;
}
.month-container {
     
    padding-top:30px;
}
h4 {
    font-family: "Gotham SSm A";
}
.month-container{
    border-bottom: 1px solid grey;
}
.tile-container{
    display:flex;
}
.tile-container:hover {
    background-color: white;
    
}
.tile-container:hover .number{
    color: white;
    border:1px solid white;
    background-color:#737ff9;
}
.number-parent{
    display: flex;
    /* vertical-align: middle; */
    align-items: center;
}
.number {
    margin:20px;
    padding:20px;
    border:1px solid grey;
    text-align: center;
}
.day {
    font-size: 30px;
    font-family: "Gotham SSm C";
}
.description {
    padding:20px;
}
.event-title{
    display: flex;
    justify-content: space-between;
}
.button-container{
    display: flex;
    align-items: baseline;
}
.btn{
    padding:10px 50px;
}
